#title{
  background-color: #63b7af;
  color: #fff;
}

body{
  /* font-family: 'Montserrat', sans-serif; */
}

h1{
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* navigation bar */

.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family:'Montserrat', sans-serif;

}

/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
  width: 60%;
  border-radius: 7%;
  transform: rotate(30deg);
  position: absolute;
  right: 35%;
  top: 50%;
}

.title-image1{
  width: 60%;
  border-radius: 7%;
  transform: rotate(30deg);
  position: absolute;
  left: 65%;
  top: 80%;
}

.title-image2{
  width: 60%;
  border-radius: 7%;
  transform: rotate(30deg);
  position: absolute;
  left: 60%;
}

@media (max-width: 1140px){
  .title-image{
    border-radius: 15%;
    transform: rotate(0deg);
    position: static;
    margin: 10px;
  }

  .title-image1{

    border-radius: 15%;
    transform: rotate(0deg);
    position: static;
    margin: 10px;
  }

  .title-image2{

    border-radius: 15%;
    transform: rotate(0deg);
    position: static;
    margin: 10px;
  }
  #title{
    text-align: center;
  }

}

/* features */

.feature{
  text-align: center;
  padding: 4.5%;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.fhead{
  font-family:'Montserrat-Blod', sans-serif;
  font-size: 1.5rem;
}
.fIcon{
  color: #347474;
  margin-bottom: 1rem;
}
.fIcon:hover{
  color: #63b7af;
}
.fTag{
  color: #8f8f8f;
}

/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ffc7c7;
  color: #fff;
}

.testimonial-text{
  font-family: 'Montserrat-Blod', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
.carousel-item{
    padding: 7% 15%;
}

#press{
  background-color: #ffc7c7;
  padding: 3%;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 0 20px 50px;
}

/* pricing */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-colom{
  padding: 3% 2%;
}

/* call to action */
#cta{
  background-color: #63b7af;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

/* footer */

#footer{
  text-align: center;
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
}
